.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem;
    grid-template-areas: "   nav     ", "   main    ";
}
nav {
    grid-area: nav;
}
aside {
    grid-area: aside;
}
main {
    grid-area: main;
}
